.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
}
.hole {
  width: 100px;
  height: 100px;
  background-color: #eee;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
